.sideBar {
    z-index: 1;
    background: #1F1D2B;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.sideMenuRow {
    flex-grow: 1;
}

.sideMenuItemContainer {
    width: 92px;
    background: transparent;
    border-radius: 12px 0px 0px 12px;
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 24px;
    padding-left: 12px;
    height: 100%;
    max-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center
}

.iconBox {
    position: relative;
    width: 56px;
    height: 56px;
    max-height: 56px;
    background: #1F1D2B;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sideBarElement {
    height: 20px;
    width: 20px;
    margin: auto;
    color: #EA7C69;
}

.selected .sideMenuItemContainer {
    background: #252836;
}

.selected .iconBox {
    background: #EA7C69;
    box-shadow: 0px 5px 10px rgba(234, 124, 105, 0.32);
}

.selected .sideBarElement {
    color: white;
}

.logo .iconBox {
    background-color: rgb(235, 150, 106, 0.26);
}

.logo .sideBarElement {
    height: 33.33px;
    width: 33.33px;
}

.logo .sideBarElement path {
    fill: url(#gradiantSvg);
}
